.floating-elements {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: hidden;
}

.element {
  position: absolute;
  border-radius: 50%;
  opacity: 0.3;
  animation: float 20s ease-in-out infinite;
  filter: blur(100px);
}

.element-1 {
  width: 300px;
  height: 300px;
  background: var(--gradient-purple);
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.element-2 {
  width: 400px;
  height: 400px;
  background: var(--gradient-pink);
  bottom: 10%;
  right: 10%;
  animation-delay: 5s;
}

.element-3 {
  width: 350px;
  height: 350px;
  background: var(--gradient-blue);
  top: 50%;
  left: 50%;
  animation-delay: 10s;
}
